MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster-url>/college_platform?retryWrites=true&w=majority
JWT_SECRET=use_min_64_char_random_secret_here
PORT=5000
NODE_ENV=production

ADMIN_NAME=Platform Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=use_strong_admin_password_with_symbols

SOURCE_MONGO_URI=mongodb://localhost:27017/college_platform
TARGET_MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster-url>/college_platform?retryWrites=true&w=majority
CLEAR_TARGET_BEFORE_MIGRATE=true
